@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="MasterContainer">
    <div id="BodyWrapper">
        <div id="RepositionBody">
            <div id="Body" style="width:970px;">

            </div>
        </div>
    </div>
</div>